<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/inicio-sesion">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo-principal">Actualizar datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioCambio">
        <ion-item>
          <ion-input label="Ingrese su usuario" labelPlacement="floating" placeholder="Ingrese su usuario" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Ingrese su código de seguridad" labelPlacement="floating" type="number" placeholder="Ingrese su código de seguridad" formControlName="codigo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Nueva contraseña" labelPlacement="floating" type="password" placeholder="Ingrese nueva contraseña" formControlName="contra"></ion-input>
        </ion-item>
      </form>
      <br>
      <h5 class="botones" (click)="cambiar()">Actualizar datos</h5> <!-- Botón de cambiar contraseña -->
    </ion-card-content>
  </ion-card>
</ion-content>
