<ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  <ion-menu-button></ion-menu-button>
</ion-buttons>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Comentario</ion-label>
    <ion-textarea [(ngModel)]="comentario"></ion-textarea>
  </ion-item>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <h5 class="botones" expand="full"  (click)="agregarComentario()">Agregar comentario</h5>

  <h5 class="botones" expand="full"  color="light" (click)="volver()">Volver a comentarios</h5>

</ion-content>
