<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item lines="none" *ngIf="userLoggedIn">
      <ion-buttons slot="end">
        <ion-button routerLink="/carrito">Carrito</ion-button>
      </ion-buttons>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo-container">
    <h1 class="main-titulo">STREETSH</h1>
  </div>
  <div class="image-container">
    <img src="/assets/img/imghome/icono.png" alt="zapatilla" />
  </div>
  <div class="subtitulo-container">
    <h1 class="sub-titulo">Estilo y moda, ¡únete!</h1>
  </div>

  <div class="imagenyamal">
    <img src="/assets/img/imghome/modeloyamal.jpeg" alt="zapatilla" />
  </div>
  <div>
    <h1 class="frases">GRANDES REFERENTES ACOMPAÑANDO</h1>
  </div>
  <div class="imagenyamal" style="margin-top: -80px;">
    <img src="/assets/img/imghome/modelomessi.jpg" alt="zapatilla">
  </div>
  <div>
    <h1 class="frases">LEYENDAS INIGUALABLES</h1>
  </div>
  <div class="imagenyamal" style="margin-top: -80px;">
    <img src="/assets/img/imghome/barcelona.jpeg" alt="zapatilla">
  </div>
  <div>
    <h1 class="frases">¡VEN Y ÚNETE A LA MAGIA!</h1>
  </div>

  <div>
    <h1 class="anunciozapas" style="margin-top: 50px;">NO TE LO PIERDAS</h1>
  </div>
  <div class="zapatillas">
    <img src="/assets/img/imghome/airforce1.jpeg" alt="Imagen de ejemplo">
    <img src="/assets/img/imghome/dunk.webp" alt="zapatilla">
  </div>
  <div class="zapatillas" style="margin-top: 10px;">
    <img src="/assets/img/imghome/airmax.webp" alt="zapatilla">
    <img src="/assets/img/imghome/airjordan1.webp" alt="zapatilla">
  </div>
  <div class="zapatillas" style="margin-top: 10px;">
    <img src="/assets/img/imghome/jordanmax.jpg" alt="zapatilla">
    <img src="/assets/img/imghome/force1mid.webp" alt="zapatilla">
  </div>
  <div class="titulo-container">
    <h1 class="main-titulo">STREETSH</h1>
  </div>

</ion-content>




