.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%; /* Ajusta esta altura según sea necesario */
  }
  
  .palabras {
    font-size: 2rem; /* Tamaño de la fuente ajustado */
    color: #ffffff; /* Cambia este color si es necesario */
    font-family: "Nerko One", cursive;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; /* Ajusta esta altura según sea necesario */
  }
  
  .image-container img {
    width: 150px; /* Ajusta este valor para cambiar el tamaño de la imagen */
    max-width: 100%;
  }
  